textarea {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  font-family: monaco;
  font-size: 1em;
  background-color:#222; 
  color:#e9e9e9;
  padding: 4em;
}

html {
  height: 100%;
}

body {
  background-color:#222;
  height: 100%;
}